<div class="pie">
    <i class="far fa-copyright"> 2020 CENTRO DE CAPACITACIÓN TÉCNICA |</i>
    <i class="fas fa-map-marked-alt"> Mcal. Sucre y La Paz | </i>
    <i class="fas fa-phone-alt"> +595 021 643 411</i>
</div>
